.App {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(198deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 7%, rgba(29, 2, 158, 1) 21%, rgb(42, 1, 178) 40%, rgb(41, 0, 176) 57%, rgba(37, 0, 161, 1) 79%, rgba(28, 0, 120, 1) 93%, rgba(0, 0, 0, 1) 100%);
}

/* ----------------------------------------------------- */

.flex_button_section button {
  margin: 10px 8px;
  padding: 10px 30px;
}

/* ----------------------------------------------------- */

.listItem_div {
  background-color: rgba(77, 54, 229, 0.3);
  color: white;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  padding: 10px 20px;
  box-shadow: 1px 4px 15px 2px rgba(74, 74, 74, 0.2);
  margin: 30px;
}

.flex_moviecards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}